
@media screen  and (max-width:360px) {

   
  body{
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    overflow-x: hidden;
    
  }
  html {
    width: 100%;
    
    overflow-x: hidden;
  }
  h3 {
    font-size: $medium-size;
    font-family: 'Archivo Narrow', sans-serif;
    color: $primary-color;
    
  }
  
  
  
  a {
    text-decoration: none;
  }
  /*Header section */
  header {
  position: relative;
  width: 100%;
  height: 100%;
  
  
  .main-header {
  
      width: 100%;
       height: 100vh;
      background-image: linear-gradient( 90deg, #00000083 0%, rgba(0, 0, 0, 0.555) 35%, #0000007a 100%),  url(/assets/img/back-img-small.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  

      nav {
    
        width: 100%;
  
        display: block;
        position: relative;
        z-index: 1;
  
        ul {
          margin-top: 10px;  
          width: 100%;
          // margin-top: 90px;
          top: 20%;
    
   
     
        text-decoration: none;
        list-style: none;
        background: #bbbbbc;
   
      
        li {
            padding: 10px 0;
         
            font-size: $normal-size;
    

            a {
               font-size: $normal-size;
           
          
            }
          }
      }
      }
      
   
  
      /*Navigation section */
      .container {
  
       padding-top: 20px;
  
        .btn-logo {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;



  
            .show {
                animation: smooth 1s ease;
                width: 80px;
                height: 50px;
               
            }
          
      }
      
  /*===============================*/
     /*============Animation===================*/
    /*===============================*/
      
      
      @keyframes smooth {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
      }
          
     
  }
  
  
  .whatsapp-chat {
     float: right;
     position: fixed;
     top: 80%;
     left: 90%;
     z-index: 10;
  }
  
  
  
  
  /*Hero-section */
  .hero-text {
    position: absolute;
    top:35%;
    left: 5%;
  
  
  
  h1 {
       
        color: $comp-color;
        font-size: $large-size;
        padding-bottom: 30px;
         margin: 7px;
        font-family: 'Archivo Black', sans-serif;
         line-height: 1.2;
          z-index: -1;
     
  }
  
    
    p{
        color: $primary-color;
        font-size: $large-size;
      }
  
      .buttons {
          display: flex;
  
      }
    .btn {
    
       width: 40%;
       height: 50%;
        margin-right: 5%;
        // padding: 10px 0;
       font-family: 'Archivo Narrow', sans-serif;
       font-size: $normal-size;
       color: #000000;

       font-weight: 700;
    
  
            
    &:hover {
           transform: translateY(-6px);
  
       }
    }
  
    .btn2 {
      width: 40%;
      height: 50%;
       margin-right: 5%;
       padding: 12px 0px 10px 35px;
        text-decoration: none;
        color: #000000;
        border-radius: 5px;
        
       font-family: 'Archivo Narrow', sans-serif;
       font-size: $normal-size;

       font-weight: 700;
    //    position: absolute;
    // top:95%;
    // left: 40%;
    // transform: translate(-50%, -50%);
  
            
    &:hover {
           transform: translateY(-6px);
  
       }
    }
  
  
  }

  .whatsapp-chat {



      .whatsapp {
     position: absolute;
     right: 5%;


  }
  
  }
  }
  
  
  .section-header {
    font-family: 'Archivo Black', sans-serif;
    padding: $large-size 0 $normal-size  0;
  }
  
  /* about-section */
  
  .about-section{
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  background-color: #eeeeee;

    // padding: 5em 2em 5em 2em;
  
   h2 {
    font-size: $large-size;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  
  p {
    font-family: 'Archivo Narrow', sans-serif;
    text-align: left;
    font-size: 18px;
  }
  .wave-wrapper {
    position: relative;
  }
  
  }
  
 
  
  .opening-hours {
    width: 100%;

    background-color:$secondary-color;
    position: relative;
    padding-bottom: 200px;
  
  
  #opening-hours__header {
    color: $primary-color;
 
  
    }
  
  
  
  
    p {
     
    margin: 10px;
         color: $primary-color;
        font-size: $normal-size;
        font-weight: 400;
        font-family: 'Archivo Narrow', sans-serif;
        
    }
  
  }
  
  
  
  /*Menu section*/
  
  .menu-section {
    
    background-color: #eeeeee;

padding: 1em;
  
  
  
  h2{
    font-size: $large-size;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-weight: 700;
    }
  
  
  article {
    width:80%;
    margin: 30px;
    background-color: $secondary-color;
    box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
    border-radius: 10px;
  
    &:hover {
        transform: translateY(-10px);
        animation-duration: 4s;
        animation-delay: 2s;
    }
  
  
  
   .food {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }
  
   p {
       color: $primary-color;
       font-size: $medium-size;
   }
  
   .buy-btn {
       text-decoration: none;
       color: $comp-color;
       font-size: $medium-size;
       font-weight: 700;
       border: 1px solid $comp-color;
       padding: 0 7px;
   }
  
  }
  
  
  }
  
}
  
  // .about-section, .menu-section{
  //   padding-bottom:  $medium-size ;
  // }
  
  
  /* Footer section */
  
  footer {
    .main-footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 700px;
        background-color: $secondary-color;

        h4 {
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }
         .social-icons{
            text-align: center;
            list-style: none;
             display: flex;
             justify-content: center;
             
            li{
               
              padding: 0.5em 0.5em;
            }
        }
  
        
  
        .follow-us  {
            font-size: $medium-size;
            text-transform: uppercase;

    
            font-family: 'Archivo Black', sans-serif;
        }
        p{
            font-size: $normal-size;
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }
  
        .copyright {
            font-size: $normal-size;
        }
    }
  }
  
      
    }
