
  @media screen  and (min-width:360px) and (max-width:374px) {

    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
         
     
        width: 100%;
        height: 80px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: 'Julius Sans One', sans-serif;
                }
            }
      
        }
        

        .whatsapp-chat {
            float: right;
            position: fixed;
            top: 80%;
            left: 80%;
            z-index: 999;

        }
    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
    
        
        .navbar {
            margin-top: 100px;
            
            .container-fluid {

                .collapse {
     
                   .navbar-nav {
                 
                     .nav-item{
                         padding: 5px 0;
                     }
     
                   }
     
                   }
     
     
                 }
            .navbar-toggler {
                margin-top: 10px;
                margin-left: 90px;
                background-color: $secondary-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:40%;
        left: 50%;
        padding: 0 20px;
        transform: translate(-50%, -50%);
        
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 120px;
            height: 40px;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           background-color: $comp-color;
           margin-left: 18px;
           &:hover {
               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }  
    
    }
    


    footer {
        .main-footer {
            width: 100%;
            height: 700px;
            background-color: $secondary-color;
            h4 {
                color: $primary-color;
                font-family: 'Archivo Narrow', sans-serif;
            }


            .order {
                font-size: $large-size;
                font-family: 'Archivo Narrow', sans-serif;
            }
            p{
                font-size: $normal-size;
                color: $primary-color;
            }


            .order-now-btn {
                width: 150px;
                font-size: $normal-size;

            }
        }
    }

    .opening-hours {

        p{
          text-align: left;
        }
    }

 }
