
@media screen  and (min-width:501px) and (max-width:600px) {
    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
     
       
        
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: 'Julius Sans One', sans-serif;
                }
            }
      
        }
        
        .whatsapp-chat {
            float: right;
            position: fixed;
            top: 80%;
            left: 80%;
            z-index: 999;

        }


    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
     
   
       
    &--logo {
        a{
            padding: 0 10px;
            text-decoration: none;
            font-size: $normal-size;
            font-weight: 700;
            color: $primary-color;
            font-family: 'Julius Sans One', sans-serif;

        }
    }

        
        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color: $secondary-color;
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
          .buttons {
            display: flex;
  
        }
      .btn {
          width: 200px;
          height: 50px;
         margin-right: 20px;
         font-family: 'Archivo Narrow', sans-serif;
         font-size: $medium-size;
         background-color: #0DF94E;;
         font-weight: 700;
      //    position: absolute;
      // top:95%;
      // left: 0;
      transform: translate(-50%, -50%);
  
              
      &:hover {
             transform: translateY(-6px);
  
         }
      }
  
      .btn2 {
          width: 200px;
          height: 50px;
          text-decoration: none;
          color: #000000;
          display: flex;
          justify-items: center;
          align-items: center;
          padding-left: 40px;
          border-radius: 5px;
          
         font-family: 'Archivo Narrow', sans-serif;
         font-size: $medium-size;
         background-color: #0DF94E;;
         font-weight: 700;
      //    position: absolute;
      // top:95%;
      // left: 40%;
      // transform: translate(-50%, -50%);
  
              
      &:hover {
             transform: translateY(-6px);
  
         }
      }
  
    
    
       
    
    }
    
    .opening-hours {

        p{
            padding: 0;
        }
    }

    .order-now-btn {
        width: 150px;
        font-size: $normal-size;

    }

  }