* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


    $primary-color: #ffffff;
    $comp-color: #fbf485;
    $button-color: #000000;
    $secondary-color: #3b3d49;
    $extralarge-size: 3.75em; // 60px
    $large-size: 2.5em; // 40px
    $semi-large-size: 2em; //32px
    $medium-size: 1.5em; //24px
    $normal-size: 1em; //16px

/*General*/

body{
    width: 100%;
    height: 100%;
    background-color: rgb(26, 25, 25);
    overflow-x: hidden;
    
}
html {
    width: 100%;
}
h3 {
    font-size: $medium-size;
    font-family: 'Archivo Narrow', sans-serif;
    color: $primary-color;
    
}



a {
    text-decoration: none;
}
/*Header section */
header {
  position: relative;
  width: 100%;
  height: 100%;

 
  .main-header {

      width: 100%;
       height: 100vh;
      background-image: linear-gradient( 90deg, #00000046 0%, rgba(0, 0, 0, 0.294) 35%, #0000003a 100%), url(../img/back-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;

}
  
   
 
      /*Navigation section */
   .navigation__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    // box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
    // -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
    // -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
    z-index:999;
    background-color: #000000;
    width: 100%;
    height: 90px;



   


    &--logo {
          a{
              padding: 0 0 0 70px;
              text-decoration: none;
              font-size: $medium-size;
              font-weight: 700;
              color: $primary-color;
              font-family: 'Julius Sans One', sans-serif;
          }
      }

    
.navbar {

           
    .container-fluid {
             padding:0;

             .navbar-toggler-icon {
                color: $primary-color;
            }
     }
        

       .navbar-toggler {
          
           background-color: $button-color;
           
           
       }

       .collapse {
           width: 100%;
           background-color: #000000;
    
      
       }
       .navbar-nav{
         
           .nav-item{
           
           .nav-link {
             font: 18px;
             font-weight: 700;
             text-decoration: none;
             font-family: 'Julius Sans One', sans-serif;
             color:$primary-color;
             padding: 0 $medium-size;

           &:hover {

            color: $comp-color;
           }
       
           }
        }
       }   
   }  
 }


 .whatsapp-chat {
     float: right;
     position: fixed;
     top: 80%;
     left: 90%;
     z-index: 999;
 }


 .call-to-order-bar {
     width: 100%;
     height: 50px;
     background-color: rgb(1, 158, 22);
  position: sticky;
display: none;

    #call-to-order {
        color: $primary-color;
       text-align: center;
        align-items: center;
        font-size: $medium-size
      
     }
 }
 }

/*Hero-section */
  .hero-text {
    position: absolute;
    top:30%;
    left: 5%;


    

    h1 {
    
        color: $comp-color;
        font-size: $extralarge-size;
        max-width: 40rem; 
        padding-bottom: 10px;
        font-family: 'Archivo Black', sans-serif;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        

       
    }

    
    
    p{
        color: $primary-color;
        font-size: $large-size;
      }

    .btn {
        width: 200px;
        height: 50px;
      
       font-family: 'Archivo Narrow', sans-serif;
       font-size: $medium-size;
       background-color: $comp-color;
       font-weight: 700;
       position: absolute;
    top:95%;
    left: 30%;
    transform: translate(-50%, -50%);

            
    &:hover {
           transform: translateY(-6px);

       }
    }


   

}


.section-header {
    font-family: 'Archivo Black', sans-serif;
    padding: $large-size 0 $normal-size  0;
}

/* about-section */

.about-section{
    height: 500px;
    background-color: $primary-color;

 
  
    h2 {
        font-family: 'Archivo Black', sans-serif;
       
        font-weight: 700;
}

.wave-wrapper {
    position: relative;
}

}

.custom-shape-divider-bottom-1629652111 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1629652111 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1629652111 .shape-fill {
    fill: $comp-color;
}


.custom-shape-divider-bottom-1629649744 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1629649744 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1629649744 .shape-fill {
    fill: #ffffff;
}
.opening-hours {
    width: 100%;
    height: 500px;
    background-color:$secondary-color;
    position: relative;


    #opening-hours__header {
       color: $primary-color ;
    }

 
    p {
        color: $primary-color;
        font-size: $medium-size;
        font-weight: 600;
        padding-bottom: $large-size;
    }

}

.custom-shape-divider-bottom-1629652476 {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1629652476 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1629652476 .shape-fill {
    fill: $secondary-color;
}




.custom-shape-divider-bottom-1629650781 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1629650781 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 150px;
   
}

.custom-shape-divider-bottom-1629650781 .shape-fill {
    fill: $comp-color;
}

/*Menu section*/

.menu-section {
    
   background-color: $comp-color;
    padding-bottom: $extralarge-size;



 h2{
    font-weight: 700;

    }


article {
    width:80%;
    margin: auto;
    background-color: $secondary-color;
    box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
    border-radius: 10px;


  
   img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }

   p {
       color: $primary-color;
       font-size: $medium-size;
   }

}


}


.about-section, .menu-section{
    padding-bottom:  $large-size ;
}


/* Footer section */

footer {
    .main-footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 500px;
        background-color: $secondary-color;
        h4 {
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }
         .social-icons{
            text-align: center;
            list-style: none;
             display: flex;
             justify-content: center;
             
            li{
               
                padding: 0 $normal-size;
            }
        }

        .order-now {
            margin: auto;
            padding: 5px 0;
            text-align: center;
            width: 150px;
            height: 40px;
            background-color: $comp-color;
            color: $button-color;
            font-weight: 700;

            &:hover {
                transform: translateY(-5px);
            }
        }

        .order {
            font-size: $extralarge-size;
            font-family: 'Archivo Narrow', sans-serif;
        }
        p{
            font-size: $medium-size;
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }

        .copyright {
            font-size: $normal-size;
        }
    }
}

/*----------------------------------------------------------------*/
/*----------------------MEDIA QUERIES------------------*/
/*---------------------------------------------------------------*/

@media screen  and (min-width : 767px) and (max-width: 1024px)  {
    .main-header {

        width: 100%;
        height: 80vh;
       background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
       background-repeat: no-repeat;
       background-size: cover;
 
 
   
    }


    .container-fluid {
        padding:0;

        .navbar-toggler-icon {
           color: $primary-color;
       }
}

    .navbar-toggler {
      
    background-color: $button-color;
        
    }

    .navigation__bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #000000;
        width: 100%;
        height: 90px;


        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color: gray;
                    
                }
        }

}


.hero-text {
    position: absolute;
    top:30%;
    left: 5%;
    width: 100%;
    text-align: center;
    

    h1 {
        width: 100;
        color: $comp-color;
        font-size: $large-size;
        font-weight: 700;
        font-family: 'Archivo Black', sans-serif;

       
    }


    p {
        color: $primary-color;
    }


    .btn {


            
    &:hover {
           transform: translateY(-6px);

       }
    }

    
}
    
.about-section{

       
    h2 {
        font-family: 'Archivo Black', sans-serif;
        padding: $medium-size 0;
   font-weight: 700;

   
   
 }

}



}



@media screen and (max-width: 768px)  {

    .main-header {

        width: 100%;
        height: 80vh;
       background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img.jpg);
       background-repeat: no-repeat;
       background-size: cover;
 
 


       .main-header {

        .whatsapp-chat {
            margin-right: 500px;
          
                float: right;
                position: fixed;
                top: 80%;
                left: 30%;
                z-index: 999;
           
    }
   
    }
}
   

    .container-fluid {
        padding:0;

        .navbar-toggler-icon {
           color: $primary-color;
       }
}

    .navbar-toggler {
      
    background-color: $button-color;
        
    }

    .navigation__bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #000000;
        width: 100%;
        height: 90px;

        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;

                margin-right: 65px;
                background-color: gray;
                    
                }
        }

}



.hero-text {
    position: absolute;
    top:30%;
    left: 12%;
    width: 100%;
    text-align: center;
    

    h1 {
        width: 100;
        color: $comp-color;
        font-size: $large-size;
        font-weight: 700;
        font-family: 'Archivo Black', sans-serif;
      color:$comp-color;
       
    }


    p {
        color: $primary-color;
    }


    a .btn {

        position: absolute;
        top: 95%;
        left: 25%;
        transform: translate(-50%, -50%);
    
            
    &:hover {
           transform: translateY(-6px);

       }
    }

    
}
    
.about-section{

       
    h2 {
        font-family: 'Archivo Black', sans-serif;
        padding: $medium-size 0;
   font-weight: 700;

   
   
 }

}
}

@media screen and (min-width: 601px) and (max-width:766px)  {

    .main-header {

        width: 100%;
        height: 80vh;
       background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
       background-repeat: no-repeat;
       background-size: cover;
 
 
   
    }


    .container-fluid {
        padding:0;

        .navbar-toggler-icon {
           color: $primary-color;
       }
}

    .navbar-toggler {
      
    background-color: $button-color;
        
    }

    .navigation__bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #000000;
        width: 100%;
        height: 90px;

        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color: gray;
                    
                }
        }

}



.hero-text {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);


    h1 {
        width: 100;
        color: $comp-color;
        font-size: $large-size;
        font-weight: 700;
        font-family: 'Archivo Black', sans-serif;

       
    }


    p {
        color: $primary-color;
    }


    .btn {

        position: absolute;
        top: 95%;
        left: 33%;
        transform: translate(-50%, -50%);
    
            
    &:hover {
           transform: translateY(-6px);

       }
    }

    
}
    
.about-section{

       
    h2 {
        font-family: 'Archivo Black', sans-serif;
        padding: $medium-size 0;
   font-weight: 700;

   
   
 }

}
}

@media screen  and (min-width:501px) and (max-width:600px) {
    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: #000000;
          width: 100%;
          height: 90px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: 'Julius Sans One', sans-serif;
                }
            }
      
        }
        
        .whatsapp-chat {
            float: right;
            position: fixed;
            top: 80%;
            left: 80%;
            z-index: 999;

        }


    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
       background-color: #000000;


       
    &--logo {
        a{
            padding: 0 10px;
            text-decoration: none;
            font-size: $normal-size;
            font-weight: 700;
            color: $primary-color;
            font-family: 'Julius Sans One', sans-serif;

        }
    }

        
        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color:$button-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 120px;
            height: 40px;
            background-color: $comp-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           color: $button-color;
           position: absolute;
           top:95%;
           left: 40%;
           transform: translate(-50%, -50%);
       
           &:hover {

               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }
    
    
       
    
    }
    

  }


@media screen  and (min-width:414px) and (max-width:500px) {
    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: #000000;
          width: 100%;
          height: 90px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: 'Julius Sans One', sans-serif;
                }
            }
      
        }
        
        .whatsapp-chat {
            float: right;
            position: fixed;
            top: 80%;
            left: 80%;
            z-index: 999;

        }


    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
       background-color: #000000;
       width: 100%;
       height: 90px;


       
    &--logo {
        a{
            padding: 0 10px;
            text-decoration: none;
            font-size: $normal-size;
            font-weight: 700;
            color:$primary-color;
            font-family: 'Julius Sans One', sans-serif;
        }
    }

        
        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color:$button-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 120px;
            height: 40px;
            background-color: $comp-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           color: $button-color;
            margin-left: 20px;
           &:hover {

               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }
    
    
       
    
    }
    

  }

  @media screen  and (min-width:375px) and (max-width:413px) {

    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: #000000;
          width: 100%;
          height: 90px;
      
      
        &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: 'Julius Sans One', sans-serif;
                }
            }

              

      
        }
        

        .whatsapp-chat {
            float: right;
            position: fixed;
            top: 80%;
            left: 80%;
            z-index: 999;

        }
    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
         background-color: #000000;
        .navbar {
            margin-top: 100px;
          
            

            .navbar-toggler {
                margin-top: 10px;
                background-color: $button-color;
                    
                }
        }
    
    }


    .hero-text {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 120px;
            height: 40px;
           color: $button-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           background-color: $comp-color;
              margin-left: 20px;
           &:hover {
               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }  
    
    }
    


    footer {
        .main-footer {
            width: 100%;
            height: 700px;
            background-color: $secondary-color;
            h4 {
                color: $primary-color;
                font-family: 'Archivo Narrow', sans-serif;
            }


            order {
                font-size: $large-size;
                font-family: 'Archivo Narrow', sans-serif;
            }
            p{
                font-size: $normal-size;
                color: $primary-color;
            }
        }
    }
 }







  @media screen  and (min-width:360px) and (max-width:375px) {

    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: #000000;
          width: 100%;
          height: 90px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: 'Julius Sans One', sans-serif;
                }
            }
      
        }
        

        .whatsapp-chat {
            float: right;
            position: fixed;
            top: 80%;
            left: 80%;
            z-index: 999;

        }
    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
       background-color: #000000;
        
        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color: $button-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 120px;
            height: 40px;
           color: $button-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           background-color: $comp-color;
    
           &:hover {
               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }  
    
    }
    


    footer {
        .main-footer {
            width: 100%;
            height: 700px;
            background-color: $secondary-color;
            h4 {
                color: $primary-color;
                font-family: 'Archivo Narrow', sans-serif;
            }


            order {
                font-size: $large-size;
                font-family: 'Archivo Narrow', sans-serif;
            }
            p{
                font-size: $normal-size;
                color: $primary-color;
            }
        }
    }
 }

 


@media screen  and (min-width:320px) and (max-width:359px) {

   
    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
      
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img-small.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: #000000;
          width: 100%;
          height: 90px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $primary-color;
                    font-family: 'Julius Sans One', sans-serif;
                }
            }
      
        }
        
        .whatsapp-chat {
            float: right;
            position: fixed;
            top: 80%;
            left: 80%;
            z-index: 999;

        }


    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
       background-color: #000000;
        
        .navbar {
            margin-top: 100px;
            
             .container-fluid{
                 width: 150px;
             }
             
            .navbar-toggler {
                margin-top: 10px;
                background-color: $button-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 120px;
            height: 40px;
           color: $button-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           background-color: $comp-color;
           &:hover {
               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }

    }
    
  }

