

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');





    $primary-color: #f5f3f3;
    $comp-color: #fbf485;
    $button-color: #f6f098;;
    $secondary-color: #3b3d49;
    $extralarge-size: 3.75em; // 60px
    $large-size: 2.5em; // 40px
    $semi-large-size: 2em; //32px
    $medium-size: 1.5em; //24px
    $normal-size: 1em; //16px

    



/*General*/

body{
    width: 100%;
    height: 100%;
    background-color: #f5f3f3;
    overflow-x: hidden;
    
}
html {
    width: 100%;
    scroll-behavior: smooth;
}
h3 {
    font-size: $medium-size;
    font-family: 'Archivo Narrow', sans-serif;
    color: $primary-color;
    
}

ul {
    padding: 0 !important;
}

a {
    text-decoration: none;
}


.off-display {
    display:none;
}


/*Header section */
header {
  position: relative;
  width: 100%;
  height: 100%;

 
  .main-header {

      width: 100%;
       height: 100vh;
      background-image: linear-gradient( 90deg, #00000046 0%, rgba(0, 0, 0, 0.294) 35%, #0000003a 100%), url(../img/back-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    

      /*Navigation section */
      .wrapper {

     

        .btn-logo {
            padding: 10px 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $secondary-color;
            position: fixed;
            z-index: 20;

            .show {
                animation: smooth 1s ease;
                width: 50px;
                height: 50px;
               
            }
          
      }
      
     
      nav {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;

                ul {
                   display: none;
                    width: 100%;
                    top: 12%;
                    text-decoration: none;
                    list-style: none;
                    background-color: $secondary-color;
                    position: fixed;
                    animation: smooth 1s ease;
            
                
                        li {

                            text-align: center;
                            padding: 10px 0;
                            &:not(:last-child){
                                border-bottom: 1px solid #41434b;
                            }
                                    a{
                                    text-decoration: none;
                                    color: $primary-color;
                                    font-family: 'Poiret One', cursive;
                                    font-size: $large-size;
                    
                                    &:hover {
                                        color: goldenrod;
                                    }
                                 
                                    }

                              
                                }
                        }
                }
      }
      
      
        
      @keyframes smooth {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
      }    
     
 }


 .whatsapp-chat {
         float: right;
     position: fixed;
     top: 80%;
     left: 90%;
     z-index: 10;


     .whatsapp {
        width: 80px;
        height: 80px;

     }
 }


 

/*Hero-section */
  .hero-text {
    position: absolute;
    top:35%;
    left: 5%;

  h1 {
        color: $comp-color;
        font-size: $extralarge-size;
        max-width: 40rem; 
        padding-bottom: 10px;
        font-family: 'Archivo Black', sans-serif;
        line-height: 1.2;
        text-align: left;
        z-index: -1;
     
 }

    
    p{
        color: $primary-color;
        font-size: $large-size;
      }

      .buttons {
          display: flex;

      }
    .btn {
        width: 30%;
        margin-right: 5%;
       font-family: 'Archivo Narrow', sans-serif;
       font-size: $medium-size;
       color: #000000;
       background-color: #0DF94E;
       font-weight: 700;
    

            
    &:hover {
           transform: translateY(-6px);

       }
    }

    .btn2 {
        width: 30%;
      
        text-decoration: none;
        color: #000000;
        padding-top: 7px;
        padding-left: 35px;
        padding-right: 10px;
        border-radius: 5px ;
       font-family: 'Archivo Narrow', sans-serif;
       font-size: $medium-size;
       background-color: #0DF94E;
       font-weight: 700;


            
    &:hover {
           transform: translateY(-6px);

       }
    }


}

  }

/* about-section */

.about-section{
width: 100%;
  height: 100%;
  padding: 5em 3em 10em 3em;
    background-color: $primary-color;

   h2 {
    font-family: 'Poiret One', cursive;
    font-size: $extralarge-size;
    font-weight: 700;
    text-transform: uppercase;
}


p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 18px;
}
.wave-wrapper {
    position: relative;
}

}

.opening-hours {
    width: 100%;
    background-color:$secondary-color;

    .container {
        padding: 5em 3em 7em 3em;

    }

 #opening-hours__header {
    font-size: $extralarge-size;
    font-weight: 700;
   color: $primary-color ;
    }


  
    p {
        text-transform: uppercase;
        text-align: center;
         color: $primary-color;
        font-size: $large-size;
        font-weight: 700;
        font-family: 'Poiret One', cursive;
    }

}



/*Menu section*/

.menu-section {
   background-color: $primary-color;
  padding: 3em;


 h2{
    font-size: $extralarge-size;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-weight: 700;

    }


article {
    width:80%;
    margin: 30px;
    background-color: $secondary-color;
    box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
    border-radius: 10px;

    &:hover {
        transform: translateY(-10px);
        animation-duration: 4s;
        animation-delay: 2s;
    }


  
   .food {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }

   p {
       color: $primary-color;
       font-size: $medium-size;
   }

   .buy-btn {
       text-decoration: none;
       color: $comp-color;
       font-size: $medium-size;
       font-weight: 700;
       border: 1px solid $comp-color;
       padding: 0 7px;
   }

}

}


.about-section, .menu-section{
    padding-bottom:  $large-size ;
}


/* Footer section */

footer {
    .main-footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 600px;
        background-color: $secondary-color;

        h4 {
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }
         .social-icons{
            text-align: center;
            list-style: none;
             display: flex;
             justify-content: center;
             
            li{
                padding: 0 $normal-size;
                
            }
        }

        .order-now-btn {
            display: none;
            margin: auto;
            font-size: 50px;
            padding: 10px 0;
            margin-bottom: 20px;
            text-align: center;
            width: 500px;
            background-color: $comp-color;
         color: #000000;
            font-weight: 700;

            &:hover {
                transform: translateY(-5px);
            }
        }

        .follow-us {
            font-size: $extralarge-size;
            text-transform: uppercase;

    
            font-family: 'Archivo Narrow', sans-serif;
        }
        p{
            font-size: $medium-size;
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }

        .copyright {
            font-size: $normal-size;
        }
    }
}

  
@import "./media-queries/max900";
@import "./media-queries/max768";
@import "./media-queries/max600";
@import "./media-queries/max500";
@import "./media-queries/max360";
@import "./media-queries/max320";

