

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





    $primary-color: #f5f3f3;
     $comp-color: #f5e61e;
    $secondary-color: #3b3d49;
    $extralarge-size: 3.75rem; // 60px
    $large-size: 2.5rem; // 40px
    $semi-large-size: 2rem; //32px
    $medium-size: 1.5rem; //24px
    $normal-size: 1rem; //16px

    



/*General*/

body{
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    overflow-x: hidden;
    
}
html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}
h3 {
    font-size: $medium-size;
    font-family: 'Archivo Narrow', sans-serif;
    color: $primary-color;
    
}

ul {
    padding: 0 !important;
}

a {
    text-decoration: none;
}


.off-display {
    display:none;
}


/*Header section */
header {
  position: relative;
  width: 100%;
  height: 100%;

 
  .main-header {

      width: 100%;
       height: 100vh;
      background-image: linear-gradient( 90deg, #00000083 0%, rgba(0, 0, 0, 0.555) 35%, #0000007a 100%), url(../img/back-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    

      /*Navigation section */
      .wrapper {

     

        .btn-logo {
            padding: 10px 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $secondary-color;
            position: fixed;
            z-index: 20;

            .show {
                animation: smooth 1s ease;
                width: 50px;
                height: 50px;
               
            }
          
      }
      

      nav {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;

                ul {
                    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
                   display: none;
                    width: 100%;
                    top: 13%;
                    text-decoration: none;
                    list-style: none;
                    background-color: $secondary-color;
                    position: fixed;
                    animation: smooth 1s ease;
            
                
                        li {

                            text-align: center;
                            padding: 10px 0;
                            &:not(:last-child){
                                border-bottom: 1px solid #41434b;
                            }
                                    a{
                                    text-decoration: none;
                                    color: $primary-color;
                                    font-family: 'Poiret One', cursive;
                                    font-size: $medium-size;
                    
                                    &:hover {
                                        color: goldenrod;
                                    }
                                 
                                    }

                              
                                }
                        }
                }
      }
      
      
        
      @keyframes smooth {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
      }    
     
 }


 .whatsapp-chat {
         float: right;
     position: fixed;
     top: 80%;
     left: 90%;
     z-index: 10;


     .whatsapp {
        width: 80px;
        height: 80px;

     }
 }


 
/*===================================================*/
/*===============HERO SECTION==================*/
/*===================================================*/
  .hero-text {
    position: absolute;
    top:35%;
    left: 5%;

  h1 {
        color: $comp-color;
        font-size: $extralarge-size;
        max-width: 40rem; 
        padding-bottom: 10px;
        font-family: 'Archivo Black', sans-serif;
        line-height: 1.2;
        text-align: left;
        z-index: -1;
     
 }

    
    p{
        color: $primary-color;
        font-size: $large-size;
      }

      .buttons {
          display: flex;

      }
    .btn {
        margin-right: 5%;
       font-family: 'Archivo Narrow', sans-serif;
       font-size: $medium-size;
       color: #000000;
     background-color: #eeeeee;
       font-weight: 700;
       padding-left: 20px;
       padding-right: 20px;
    

            
    &:hover {
           transform: translateY(-6px);

       }
    }

    .btn2 {
        background-color:$comp-color;
       color: #000000;
       font-family: 'Archivo Narrow', sans-serif;
       font-weight: 700;
       font-size: $medium-size;
       text-decoration: none;
       padding-top: 7px;
       padding-left: 20px;
       padding-right: 20px;
       border-radius: 5px ;



            
    &:hover {
           transform: translateY(-6px);

       }
    }


}

  }

  /*===================================================*/
/*===============ABOUT SECTION==================*/
/*===================================================*/

.about-section{
width: 100%;
  height: 100%;
    background-color: #eeeeee;
padding-top:  5em;

    .about-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   h2 {
    font-family: 'Poiret One', cursive;
    font-size: $extralarge-size;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}
.wave-wrapper {
    position: relative;
}

}


/*=======================================================*/
/*===============OPEN HOURS SECTION==================*/
/*===================================================*/

.opening-hours {
    width: 100%;
    background-color:$secondary-color;

    .container {
        padding: 5em 3em 7em 3em;

        
     .seating {
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: lighter;
        font-size: 24px;
        letter-spacing: 1px;
     }
    }

 #opening-hours__header {
    font-size: $extralarge-size;
    font-weight: 700;
   color: $primary-color ;
    }


  
    p {
        text-transform: uppercase;
        text-align: center;
         color: $primary-color;
        font-size: $large-size;
        font-weight: 700;
        font-family: 'Poiret One', cursive;
    }

}


/*===================================================*/
/*===============MENU SECTION==================*/
/*===================================================*/

.menu-section {
    background-color: #eeeeee;

  padding-top: 5em;


 h2{
    font-size: $extralarge-size;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-weight: 700;

    }


article {
    width:80%;
    margin: 30px;
    background-color: $secondary-color;
    box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition: 1s all;

    &:hover {
        transform: translateY(-10px);

    }


  
   .food {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }

   p {
       color: $primary-color;
       font-size: $medium-size;
   }

   .buy-btn {
       text-decoration: none;
       text-transform: uppercase;
       color: $comp-color;
       font-size: $medium-size;
       font-weight: 700;
       border: 1px solid $comp-color;
       padding: 0 7px;
   }

}

}


.about-section, .menu-section{
    padding-bottom:  $large-size ;
}


/*===================================================*/
/*===============FOOTER SECTION==================*/
/*===================================================*/

footer {
    .main-footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 600px;
        background-color: $secondary-color;

        h4 {
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }
         .social-icons{
            text-align: center;
            list-style: none;
             display: flex;
             justify-content: center;
             
            li{
                padding: 0.5em 0.5em;
                margin: 0 1em;
                border:  1px solid white;
                border-radius: 50%;

                &:hover {
                    background: #17181a;
                    border:  1px solid #17181a;
                }
                
            }
        }


        .follow-us {
            font-size: $extralarge-size;
            text-transform: uppercase;

    
            font-family: 'Archivo Black', sans-serif;
        }


        .main-footer-p {
             width: 80%; 
             margin: 0 auto;
        }


        p{
     
            font-size: $medium-size;
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }

        .copyright {
            font-size: $normal-size;
        }
    }
}

  
@import "./media-queries/max900";
@import "./media-queries/max768";
@import "./media-queries/max600";
@import "./media-queries/max500";
@import "./media-queries/max375";
@import "./media-queries/max360";
@import "./media-queries/max320";

