* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

    $primary-color: #ffffff;
    $comp-color: #f8e056;
    $button-color: #000000;
    $secondary-color: #3b3d49;
    $extralarge-size: 3.75em; // 60px
    $large-size: 2.5em; // 40px
    $semi-large-size: 2em; //32px
    $medium-size: 1.5em; //24px
    $normal-size: 1em; //16px

/*General*/

body{
    width: 100%;
    height: 100%;
    background-color: rgb(246, 243, 243);
    overflow-x: hidden;
}
html {
    width: 100%;
}
h3 {
    font-size: $medium-size;
    font-family: 'Archivo Narrow', sans-serif;
    color: $primary-color;
    
}

.section-header {
    font-family: 'Archivo Black', sans-serif;
}

a {
    text-decoration: none;
}
/*Header section */
header {
  position: relative;
  width: 100%;
  height: 100%;

 
  .main-header {

      width: 100%;
       height: 100vh;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;


      
 
    }
  
   
 
      /*Navigation section */
   .navigation__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
    z-index:999;
    background-color: $primary-color;
    width: 100%;
    height: 60px;



   


    &--logo {
          a{
              padding: 0 10px;
              text-decoration: none;
              font-size: $medium-size;
              font-weight: 700;
              color: $button-color;
              font-family: 'Archivo Narrow', sans-serif;
          }
      }

    
.navbar {

           
    .container-fluid {
             padding:0;

             .navbar-toggler-icon {
                color: $primary-color;
            }
     }
        

       .navbar-toggler {
          
           background-color: $button-color;
           
           
       }

       .collapse {
           width: 100%;
           background-color: $primary-color;
    
      
       }
       .navbar-nav{
           background-color: $primary-color;
           .nav-item{
           
           .nav-link {
               font-size: 18px;
               text-decoration: none;
               font-family: 'Archivo Narrow', sans-serif;
             color: black;
             padding: 0 $medium-size;

           &:hover {

            color: $comp-color;
           }
       
           }
        }
       }   
   }  
 }
 }

/*Hero-section */
  .hero-text {
    position: absolute;
    top:30%;
    left: 10%;

    

    h1 {
    
        color: $comp-color;
        font-size: $extralarge-size;
        max-width: 40rem; 
        padding-bottom: 10px;
        font-family: 'Archivo Black', sans-serif;
        text-transform: uppercase;
        line-height: 1.2;
        

       
    }

    
    
    p{
        color: $primary-color;
        font-size: $large-size;
      }

    .btn {
        width: 350px;
        height: 50px;
       color: $button-color;
       font-family: 'Archivo Narrow', sans-serif;
       font-size: $medium-size;
       background-color: $comp-color;
       font-weight: 700;
            


       &:hover {
           transform: translateY(-6px);

       }
    }


   

}


/* About section */

.about {

  
    h2 {
        font-family: 'Archivo Black', sans-serif;
        padding: $medium-size 0;
   font-weight: 700;
}



}

/*Menu section*/

.menu-section {
   background-color: $comp-color;
    padding-bottom: $extralarge-size;



 h2{
    font-weight: 700;

    padding: $medium-size 0;
    }
article {
    width:80%;
    margin: auto;
    background-color: $secondary-color;
    box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 9px 5px -6px rgba(0,0,0,0.75);
    border-radius: 10px;

   img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }

   p {
       color: $primary-color;
       font-size: $medium-size;
   }

}


}

/* Footer section */

footer {
    .main-footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 500px;
        background-color: $secondary-color;
        h4 {
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }
         .social-icons{
            text-align: center;
            list-style: none;
             display: flex;
             justify-content: center;
             
            li{
               
                padding: 0 $normal-size;
            }
        }

        .order-now {
            margin: auto;
            padding: 5px 0;
            text-align: center;
            width: 150px;
            height: 40px;
            background-color: $comp-color;
            color: $button-color;
            font-weight: 700;

            &:hover {
                transform: translateY(-5px);
            }
        }

        .order {
            font-size: $extralarge-size;
            font-family: 'Archivo Narrow', sans-serif;
        }
        p{
            font-size: $medium-size;
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
        }

        .copyright {
            font-size: $normal-size;
        }
    }
}

/*----------------------------------------------------------------*/
/*----------------------MEDIA QUERIES------------------*/
/*---------------------------------------------------------------*/

@media screen  and (max-width: 1024px)  {
    .main-header {

        width: 100%;
         height: 70vh;
         padding: 0;
   
    }


    .container-fluid {
        padding:0;

        .navbar-toggler-icon {
           color: $primary-color;
       }
}

    .navbar-toggler {
      
    background-color:  $button-color;
        
    }

    .navigation__bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
}

}



@media screen and (max-width: 768px)  {

    .main-header {

        width: 100%;
        height: 100vh;
       background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img.jpg);
       background-repeat: no-repeat;
       background-size: cover;
 
 
   
    }


    .container-fluid {
        padding:0;

        .navbar-toggler-icon {
           color: $primary-color;
       }
}

    .navbar-toggler {
      
    background-color: $button-color;
        
    }

    .navigation__bar{
        display: flex;
        justify-content: space-around;
        align-items: center;


        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color: gray;
                    
                }
        }

}



.hero-text {
    position: absolute;
    top:30%;
    left: 10%;

    

    h1 {
    
        color: $comp-color;
        font-size: $large-size;
        font-weight: 700;
        font-family: 'Archivo Black', sans-serif;

       
    }


    p {
        color: $primary-color;
    }
    
}
    
.about {

       
    h2 {
        font-family: 'Archivo Black', sans-serif;
        padding: $medium-size 0;
   font-weight: 700;

   
   
 }

}

   

}

@media screen  and (min-width:414px) and (max-width:500px) {
    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: $primary-color;
          width: 100%;
          height: 60px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $button-color;
                    font-family: 'Archivo Narrow', sans-serif;
                }
            }
      
        }
        
    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;


       
    &--logo {
        a{
            padding: 0 10px;
            text-decoration: none;
            font-size: $normal-size;
            font-weight: 700;
            color: $button-color;
            font-family: 'Archivo Narrow', sans-serif;
        }
    }

        
        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color:$button-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:30%;
        left: 10%;
    
        
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 200px;
            height: 40px;
            background-color: $comp-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           color: $button-color;
    
           &:hover {

               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }
    
    
       
    
    }
    

  }



  @media screen  and (min-width:360px) and (max-width:375px) {

    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: $primary-color;
          width: 100%;
          height: 60px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $button-color;
                    font-family: 'Archivo Narrow', sans-serif;
                }
            }
      
        }
        
    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
        
        .navbar {
            margin-top: 100px;
            

            .navbar-toggler {
                margin-top: 10px;
                background-color: $button-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:30%;
        left: 10%;
    
        
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 200px;
            height: 40px;
           color: $button-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           background-color: $comp-color;
    
           &:hover {
               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }  
    
    }
    


    footer {
        .main-footer {
            width: 100%;
            height: 700px;
            background-color: $secondary-color;
            h4 {
                color: $primary-color;
                font-family: 'Archivo Narrow', sans-serif;
            }


            order {
                font-size: $large-size;
                font-family: 'Archivo Narrow', sans-serif;
            }
            p{
                font-size: $normal-size;
                color: $primary-color;
            }
        }
    }
 }

 


@media screen  and (min-width:320px) and (max-width:359px) {

   
    
    header {
        position: relative;
        width: 100%;
        height: 100%;
       
        .main-header {
      
            width: 100%;
            height: 100vh;
           background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.514) 35%, rgba(0, 0, 0, 0.527) 100%), url(../img/back-img.jpg);
           background-repeat: no-repeat;
           background-size: cover;
     
     
      
      
            
       
          }
        
         
       
            /*Navigation section */
         .navigation__bar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -webkit-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 10px 5px -7px rgba(0,0,0,0.75);
          z-index:999;
          background-color: $primary-color;
          width: 100%;
          height: 60px;
      
      
      
         
      
      
          &--logo {
                a{
                    padding: 0 10px;
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 700;
                    color: $button-color;
                    font-family: 'Archivo Narrow', sans-serif;
                }
            }
      
        }
        
    }


    .navigation__bar {
      width: 100%;
      height: 100px;
       display: flex;
        
        .navbar {
            margin-top: 100px;
            
             .container-fluid{
                 width: 150px;
             }
             
            .navbar-toggler {
                margin-top: 10px;
                background-color: $button-color;
                    
                }
        }
    
    }



    .hero-text {
        position: absolute;
        top:30%;
        left: 10%;
    
        
    
        h1 {
        
            color: $comp-color;
            font-size: $large-size;
            font-weight: 700;
            font-family: 'Archivo Black', sans-serif;
    
           
        }
    
        
        
        p{
            color: $primary-color;
            font-family: 'Archivo Narrow', sans-serif;
            font-size: $medium-size;

          }
    
        .btn {
            width: 200px;
            height: 40px;
           color: $button-color;
           font-family: 'Archivo Narrow', sans-serif;
           font-size: $normal-size;
           background-color: $comp-color;
           &:hover {
               transform: translateY(-5px);
    
           }


           span {
               display: none;
           }
        }

    }
    
  }

